<h3>Welcome 
  <% if user_signed_in? %>
    <%= current_user.name %>
  <% else %>
    visitor!
  <% end %>
</h3>
<p>
  <%= link_to "New patient", new_patient_path, class: 'btn btn-info' %>
</p>
<div class="span8">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.name, patient %></td>
          <td><%= patient.age %></td>
          <td><%= patient.gender %></td>
          <td><%= link_to("Edit", patient_path(patient), class: 'btn btn-mini btn-primary') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
